<div class="row page-title-box">
  <mat-card class="col-md-12">
    <h4 class="page-title">Panel</h4>
    <ol class="breadcrumb p-0 m-0">
        <li>
            <a>User Interface</a>
        </li>
        <li class="active">
            Panel
        </li>
    </ol>
  </mat-card>
</div>

<div class="row m-0 m-t-20 material-button">
    <h5 class="width-100">Material Panel</h5>
    <mat-card   class="col-4 panel">
        <mat-toolbar>Default Panel</mat-toolbar>
        <mat-card-content>
            dfgdfg
        </mat-card-content>
    </mat-card>

    <mat-card color="primary"  class="col-4 panel">
        <mat-toolbar>Default Panel</mat-toolbar>
        <mat-card-content>
            dfgdfg
        </mat-card-content>
    </mat-card>

</div>
