html, body {
  height:100%;
  font-size: 14px;
}
.mat-card{
  color: #676767  !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #4069ff;
}

.b-r-4{
  border-radius: 4px !important;
}
.mat-form{
  width: 100%;
}
.width-100{
  width: 100%;
}
.mat-checkbox-label{
  font-weight: 500 !important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
@media (max-width: 768px){
  .sm-m-t-20{
    margin-top: 20px;
  }
}

.page-title-box{
  margin-left: -19px;
  margin-top: -21px;
  margin-right: -17px;
}

@media screen and (max-width: 992px) {
  .page-title-box{
    display: none;
    visibility: hidden;
  }
}
.page-title-box .mat-card{
  padding: 15px 20px !important;
  border-radius: 0px;
}
.page-title-box .page-title {
    margin-bottom: 0;
    float: left;
}
.page-title-box .page-title {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
.page-title-box .breadcrumb>li {
    display: inline-block;
}
.page-title-box .breadcrumb {
    float: right;
    background-color: transparent !important;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
/* BUTTON CSSS  */
