<div class="row page-title-box">
  <mat-card class="col-md-12">
    <h4 class="page-title">Portlet</h4>
    <ol class="breadcrumb p-0 m-0">
        <li>
            <a>User Interface</a>
        </li>
        <li class="active">
            Portlet
        </li>
    </ol>
  </mat-card>
</div>
<div class="row m-0 m-t-20 material-button">
    <h5 class="width-100">Show/Hide Panel</h5>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <mat-card class="panel portlet">
          <mat-toolbar>
              <div class="text-left">Default Panel</div>
              <span class="spacer"></span>
              <div class="text-right ">
                <i class="portlet-deault-btn fal  fa-minus" sky-toggle
                toggleConfig="[id=portlet-default-content,btnClass=portlet-deault-btn]"></i>
              </div>
          </mat-toolbar>
          <mat-card-content id="portlet-default-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
             ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <mat-card class="portlet panel panel-primary">
          <mat-toolbar>
              <div class="text-left">Primary Panel</div>
              <span class="spacer"></span>
              <div class="text-right ">
                <i class="portlet-primary-btn fal  fa-minus" sky-toggle
                toggleConfig="[id=portlet-primary-content,btnClass=portlet-primary-btn]"></i>
              </div>
          </mat-toolbar>
          <mat-card-content id="portlet-primary-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
             ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <mat-card class="portlet panel panel-green">
          <mat-toolbar>
              <div class="text-left">Green Panel</div>
              <span class="spacer"></span>
              <div class="text-right ">
                <i class="portlet-green-btn fal  fa-minus" sky-toggle
                toggleConfig="[id=portlet-green-content,btnClass=portlet-green-btn]"></i>
              </div>
          </mat-toolbar>
          <mat-card-content id="portlet-green-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
             ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>

</div>
<h5 class="width-100">Dragable Panel</h5>
<div class="row m-0 m-t-20 material-button"  dragula="MYVAMPIRES">
    <div class="col-lg-4 col-md-6 col-sm-12 vamp">
      <mat-card   class="panel">
          <mat-toolbar>Default Panel</mat-toolbar>
          <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
             ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 vamp">
      <mat-card class="panel panel-primary">
          <mat-toolbar>Primary Panel</mat-toolbar>
          <mat-card-content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
               ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 vamp">
      <mat-card class="panel panel-accent">
          <mat-toolbar>Accent Panel</mat-toolbar>
          <mat-card-content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
               ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 vamp">
      <mat-card class="panel panel-warn">
          <mat-toolbar>Warn Panel</mat-toolbar>
          <mat-card-content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
               ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 vamp">
      <mat-card class="panel panel-pink">
          <mat-toolbar>Pink Panel</mat-toolbar>
          <mat-card-content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
               ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 vamp">
      <mat-card class="panel panel-purple">
          <mat-toolbar>Purple Panel</mat-toolbar>
          <mat-card-content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
               ex ea commodo consequat.
          </mat-card-content>
      </mat-card>
    </div>

</div>
