<div class="row page-title-box">
  <mat-card class="col-md-12">
    <h4 class="page-title">Buttons</h4>
    <ol class="breadcrumb p-0 m-0">
        <li>
            <a>User Interface</a>
        </li>
        <li class="active">
            Buttons
        </li>
    </ol>
  </mat-card>
</div>

<div class="row m-0 m-t-20 material-button">
  <mat-card class="col-12">
    <h5>Material Button</h5>
    <div class="col-12">
      <h6>Raised Buttons</h6>
      <div class="button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
      <button mat-raised-button color="pink">Pink</button>
      <button mat-raised-button color="purple">Purple</button>
      <button mat-raised-button color="blue">Blue</button>
      <button mat-raised-button color="teal">Teal</button>
      <button mat-raised-button color="green">Green</button>
      <button mat-raised-button color="yellow">Yellow</button>
      <button mat-raised-button color="orange">Orange</button>
      <button mat-raised-button color="brown">Brown</button>
      <button mat-raised-button color="gray">Gray</button>
      </div>

      <h6>Stroked Buttons</h6>
      <div class="button-row">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button routerLink=".">Link</a>
      <button mat-stroked-button color="pink">Pink</button>
      <button mat-stroked-button color="green">Green</button>
      </div>

      <h6>Flat Buttons</h6>
      <div class="button-row">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button routerLink=".">Link</a>
      <button mat-flat-button color="pink">Pink</button>
      <button mat-flat-button color="green">Green</button>
      </div>

      <h6>Icon Buttons</h6>
      <div class="button-row">
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      </div>

      <h6>Fab Buttons</h6>
      <div class="button-row">
      <button mat-fab>Basic</button>
      <button mat-fab color="primary">Primary</button>
      <button mat-fab color="accent">Accent</button>
      <button mat-fab color="warn">Warn</button>
      <button mat-fab disabled>Disabled</button>
      <button mat-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
      <a mat-fab routerLink=".">Link</a>
      </div>

    </div>
  </mat-card>
</div>


<div class="row m-0 m-t-20 custom-button">
  <mat-card class="col-12">
    <h5>Custom Button</h5>
    <div class="col-12">
        <h6>Basic <small> add <mark>btn waves-effect w-md</mark> class for button and add button color as --btn-primary-- </small> </h6>
        <div class="button-row">
            <button type="button" class="btn btn-default waves-effect w-md">Default</button>
            <button type="button" class="btn btn-primary waves-effect w-md waves-light">Primary</button>
            <button type="button" class="btn btn-success waves-effect w-md waves-light">Success</button>
            <button type="button" class="btn btn-info waves-effect w-md waves-light">Info</button>
            <button type="button" class="btn btn-warning waves-effect w-md waves-light">Warning</button>
            <button type="button" class="btn btn-danger waves-effect w-md waves-light">Danger</button>
            <button type="button" class="btn btn-inverse waves-effect w-md waves-light">Inverse</button>
            <button type="button" class="btn btn-purple waves-effect w-md waves-light">Purple</button>
            <button type="button" class="btn btn-pink waves-effect w-md waves-light">Pink</button>
            <button type="button" class="btn btn-custom waves-light waves-effect w-md">Custom</button>
            <button type="button" class="btn btn-orange waves-light waves-effect w-md">Orange</button>
            <button type="button" class="btn btn-brown waves-light waves-effect w-md">Brown</button>
            <button type="button" class="btn btn-teal waves-light waves-effect w-md">Teal</button>
        </div>
        <h6>Rounded <small>add <mark>btn-rounded</mark> class </small> </h6>
        <div class="button-row">
          <button type="button" class="btn btn-default btn-rounded waves-effect w-md">Default</button>
          <button type="button" class="btn btn-primary btn-rounded waves-effect w-md waves-light">Primary</button>
          <button type="button" class="btn btn-success btn-rounded waves-effect w-md waves-light">Success</button>
          <button type="button" class="btn btn-info btn-rounded waves-effect w-md waves-light">Info</button>
        </div>

        <h6>Width <small>add <mark>.w-xs</mark> , <mark>.w-sm</mark> , <mark>.w-md</mark> , <mark>.w-lg</mark> class </small> </h6>
        <div class="button-row">
            <button type="button" class="btn btn-primary waves-effect waves-light w-xs">Xs</button>
            <button type="button" class="btn btn-success waves-effect waves-light w-sm">Sm</button>
            <button type="button" class="btn btn-info waves-effect waves-light w-md">Md</button>
            <button type="button" class="btn btn-warning waves-effect waves-light w-lg">Lg</button>
        </div>

        <h6>Size <small>add <mark>.btn-xs</mark> , <mark>.btn-sm</mark> ,  <mark>.btn-lg</mark> class </small> </h6>
        <div class="button-row">
            <button type="button" class="btn btn-primary waves-effect waves-light btn-xs">Extra Sm</button>
            <button type="button" class="btn btn-success waves-effect waves-light btn-sm">Small</button>
            <button type="button" class="btn btn-info waves-effect waves-light ">Normal</button>
            <button type="button" class="btn btn-warning waves-effect waves-light btn-lg">Large</button>
            <button class="btn btn-icon waves-effect waves-light btn-danger"> <i class="fal fa-thumbs-up"></i> </button>
            <button type="button" class="btn btn-facebook waves-effect waves-light">
              <i class="fab fa-facebook-f m-r-5"></i> Facebook
            </button>
            <button type="button" class="btn btn-twitter waves-effect waves-light">
              <i class="fab fa-twitter m-r-5"></i> Twitter
            </button>
        </div>
        <h6>Block <small>add <mark>.btn-block</mark> class </small> </h6>
        <div class="col-6 p-0">
          <button type="button" class="btn btn-block btn--md btn-pink waves-effect waves-light">Block Button</button>
        </div>

    </div>
  </mat-card>
</div>
